    body {
        background-color: #84AC79;
    }
    
    #topic {
        background-color: darkblue;
        background-image: url("photo/Photo_1629559496705.jpg");
        text-align: center;
        border: 25px solid rgb(132, 172, 121, .5);
    }
    
    .textTopic {
        color: darkblue;
        font-size: 75px;
        padding-top: 30px;
        text-shadow: 6px 6px 12px black;
    }
    
    .textTopicH2 {
        color: #84AC79;
        font-size: 50px;
        text-shadow: 3px 3px 6px black;
        text-align: center;
    }
    
    .textTopicH3 {
        color: darkblue;
        font-size: 60px;
        text-shadow: 3px 3px 6px black;
    }
    
    #blog1topic1 {
        font-size: 36px;
    }
    
    #blog1text1 {
        font-size: 22px;
        margin-right: 5%;
    }
    
    #blog1photo1 {
        box-shadow: 5px 10px 15px rgba(0, 0, 0, .5);
    }
    
    .grid-container-blog1 {
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: 90%;
        grid-template-areas: 'photo1 photo1 photo1 blog1 blog1' 'photo1 photo1 photo1 blog1 blog1';
    }
    
    #blog1div1 {
        border: 40px solid;
        border-image: url("photo/Photo_1629559496705.jpg")30 round;
        margin: 5%;
        padding: 2%;
        box-shadow: 10px 10px 20px black;
    }
    
    #blog1photosection1 {
        grid-area: photo1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    #blog1textsection1 {
        grid-area: blog1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    #blog1topic2 {
        font-size: 36px;
    }
    
    #blog1photo2 {
        box-shadow: 5px 10px 15px rgba(0, 0, 0, .5);
    }
    
    #blog1text2 {
        font-size: 22px;
        margin-left: 5%;
    }
    
    .grid-container-blog2 {
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: 90%;
        grid-template-areas: 'blog2 blog2 photo2 photo2 photo2' 'blog2 blog2 photo2 photo2 photo2';
    }
    
    #blog1div2 {
        border: 40px solid;
        border-image: url("photo/Photo_1629559496705.jpg")30 round;
        margin: 5%;
        padding: 2%;
        box-shadow: 10px 10px 20px black;
    }
    
    #blog1textsection2 {
        grid-area: blog2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    #blog1photosection2 {
        grid-area: photo2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    hr {
        color: black
    }
    
    #blog1footer {
        display: flex;
        justify-content: center;
        height: 150px;
        border: 3px solid black;
    }
    
    @media only screen and (min-width:801px) and (max-width:1100px) {
        .textTopic {
            color: darkblue;
            font-size: 65px;
        }
        .textTopicH3 {
            color: darkred;
            font-size: 50px;
        }
        .grid-container-blog1 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        .grid-container-blog2 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
    
    @media(max-width: 800px) {
        #blog1topic1 {
            font-size: 30px;
        }
        #blog1text1 {
            font-size: 18px;
        }
        #blog1topic2 {
            font-size: 30px;
        }
        #blog1text2 {
            font-size: 18px;
        }
        .textTopic {
            color: darkred;
            font-size: 55px;
        }
        .textTopicH3 {
            color: darkblue;
            font-size: 40px;
        }
        .grid-container-blog1 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        .grid-container-blog2 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }