/*Spedificity HS
_Type selectors
_Class selectors
_ID Selectors
_Style attribute (used directly inside HTML Element)
_!Important(Used after selector, overrule all above, exceptional use)
*/


/*Grid settings*/

.containerHeader {
    grid-area: header;
}

.containerTxt {
    grid-area: textbox;
    border: 5px solid red;
}

.containerRow {
    grid-area: boxrow;
}

.containerCol1 {
    grid-area: boxcol1
}

.containerCol1 {
    grid-area: boxcol2
}

.containerCol1 {
    grid-area: boxcol3
}

.containerAside {
    grid-area: aside;
    border: 5px solid blue;
}

.containerFooter {
    grid-area: footer;
    border: 5px solid gray;
    height: 100px;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header' 'textbox textbox textbox aside' 'boxrow boxrow boxrow aside' 'boxcol1 boxcol2 boxcol3 aside' 'boxcol1 boxcol2 boxcol3 aside' 'boxcol1 boxcol2 boxcol3 aside' 'footer footer footer aside';
    height: 100%;
    gap: 15px;
    padding: 10px;
    /*option instead of flex properties or to set width/heigth in grid settings*/
    grid-template-columns: 25% 25% 25% 20%;
    grid-template-rows: 5% 30% 15% 15% 15% 15% 5%;
    /*grid-auto-rows: minmax(100px, auto);
grid-template-colums: 1fr 1fr 1fr 1fr);
grid-template-colums: repeat(4, 1fr);
*/
}


/*Element selector*/

h1 {
    color: purple;
}

h3 {
    border: 2px dotted wheat
}


/*Attribute selector icm with element*/

h5[class="BoxTitle"] {
    color: red;
}

h6[class="SubForms"] {
    color: brown;
}


/*pseudo class-selector _ the :hover part*/

textarea:hover {
    background-color: lightseagreen;
}


/*Select multiple HTML elements*/

h1,
h5 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/*aside {
    position: relative;
    width: 300px;
    margin-left: auto;
    margin-right: 0px;
} -- used in the beginning*/


/*Typography with CSS
_ Text-align
_Font-size
_Color
_Line-height
*/

#typography {
    font-family: 'Oregano', sans-serif;
    text-align: center;
    color: brown;
    width: 64%;
    font-size: 1.1em;
    line-height: 1.3em;
    text-decoration: none;
    /*text-decoration -> underline the text*/
}