/*Example for the Boxmodel to play with*/

.elBox {
    /*position: absolute;*/
    font-size: 1em;
    /*css Relative Unit => General size in HTML-style-body */
    padding: 30px;
    margin: 0px;
    border-radius: 25px;
    /*Below can be used for each element*/
    /*height: 50px;*/
    /*width: 75px;*/
}

.containerRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*align-items: stretch flex-start flex-end*/
    justify-content: space-evenly;
    /*justify-content: flex-start flex-end space-around space-between center*/
    border: 1px solid yellow;
}

.containerCol1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*align-items: stretch flex-start flex-end*/
    justify-content: space-evenly;
    /*justify-content: flex-start flex-end space-around space-between center*/
    border: 1px solid yellow;
}

.containerCol2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*align-items: stretch flex-start flex-end*/
    justify-content: space-evenly;
    /*justify-content: flex-start flex-end space-around space-between center*/
    border: 1px solid yellow;
}

.containerCol3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*align-items: stretch flex-start flex-end*/
    justify-content: space-evenly;
    /*justify-content: flex-start flex-end space-around space-between center*/
    border: 1px solid yellow;
}

#elBoxRw {
    background-color: plum;
}

#elBox1 {
    /*top: 400px;
    left: 10px;
    z-index: -1;
    height: 150px;
    width: 275px;*/
    /*border: 5px solid grey;*/
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.8);
    background-color: red;
    order: 1;
}

#elBox2 {
    /*top: 420px;
    left: 200px;
    z-index: 0;
    height: 150px;
    width: 275px;*/
    border: 5px solid grey;
    background-color: #00ff00;
    /*#00ff00 is a hexadecimal color (green)*/
    order: 1;
}

#elBox3 {
    /*top: 430px;
    left: 400px;
    z-index: 1;
    height: 150px;
    width: 275px;*/
    border: 5px solid grey;
    background-image: url("Fotos/PresFC065.JPG");
    background-size: contain;
    background-repeat: no-repeat;
    /*background-color: rgb(0, 0, 225);*/
    /*rgb(0,0,225) is a RGB color(bleu)*/
    order: 1;
}